.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: #fff;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.container{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row img{
    padding: 10px;
    position: relative;
}

.vids{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.vids img{
    width: 340px;
    height: 250px;
    padding: 10px;
}

.mems{
    padding-top: 5px;
    padding-left: 5px;
}

th{
    text-align: left;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}
